<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699635307996-l7s0c5p80ikhsvmirk1g1pmpfng7l39q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699635307996-l7s0c5p80ikhsvmirk1g1pmpfng7l39q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>699635307996-rajptckfb2ujsvg54nif7pne2ta9d2mm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTVL8onnZPCzozb-Y-C9dEYQ8URZbIcHw</string>
	<key>GCM_SENDER_ID</key>
	<string>699635307996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAdminApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-83767</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-83767.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699635307996:ios:853aa5c38d625f24d6ab19</string>
	<key>DATABASE_URL</key>
	<string>https://ecommerceapp-83767.firebaseio.com</string>
</dict>
</plist>